.con{
    background-color: white ;
    margin-top: 2%;
    
}
.con h5{
    font-weight: bold;
    font-size: 30px;
}
.circle{
    background-color:red ;
    color: white;
   
    
    
}
.bt{
    border: none !important;
    background-color: transparent;
    
    padding: 0;
    
}
.roo{
    margin-top: 5%;
} 
.card{
    position: relative;
}
.card .over{
    display: block
}
.over{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  color: #FFF;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: none
}
.over .ic{
    font-size: 30px;
    margin-top: 50%;
    
}
.butt{
    padding: 10px 100px;
}
.hidden{
    display: none;
}
