* { font-family: Arial, Helvetica, sans-serif; }

.navbar 
{ border: 1px hidden;
    height: 80px;
    background-color: black; 
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.navbar-brand { width: 9%; }
.navbar-nav .nav-link { color: white; }

#home { margin-left: 30px; }

.d-flex {

    margin-left: 36%;
    margin-bottom: 15px; 
}
.d-flex input {
    Border-radius: 20px;
    height: 37px;
    position: relative;
}
.d-flex i {
    color: red;
    position: absolute;
    right: 19%;
    top: 38%;
    cursor: pointer;
    font-weight: bold;
}
.navuser , .fa-caret-down {
    color: white;
    cursor: pointer;
}
.navuser .fa-gift { font-size: 28px; }

.navuser span , .navuser .fa-gift { margin-right: 20px; }

.navuser .fa-bell { margin-right: 30px; }
.user {
    width: 2.5%;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
