.footer{
    margin-top: 700px;
    background-color: grey;
    height:350px;
    
}
a{
    float: left;
    color: black;
}
.footer-container{
    margin-top: 15px;
}
.line{
    margin-top:10px;
    margin-left: 35px;
}
.line div{
    margin-top: 15px;
}
.links {
    margin-top:20px;
    margin-left: 20px;

}
.links2{
    margin-top:15px;
    margin-left: 20px;
}
.links3{
    margin-top:15px;
    margin-left: 20px;
}
.dropdown button{
    background-color: lightslategray;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
}