.background{
    height: 750px;
    margin: 0;
    padding: 0;
    font-family: Cairo-light;
    direction: rtl;
    background: url("./netflix_movies_cover.jpg" )no-repeat center center fixed;
    background-size:cover ;
}
@font-face{
    font-family: Cairo-Bold;
}
@font-face{
    font-family: Cairo-light;
}
.form_x{
    width: 530px;
    height: 750px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background-color: black;
    text-align: center;
    transform: translate(-50%,-50%);
    opacity: 0.9;
}

.form_x h1{
    font-family: Cairo-Bold;
    text-align: left;
    margin:70px 67px 17px;
    color: white;
    font-weight: bold;
}
.form_x input[type=text], .form_x input[type=submit],.form_x input[type=password] {
    width: 400px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 4px;
    text-align: left;
    font-weight: 700;
    margin: 24px 0 12px;
    padding-left :10px;
    background-color: rgb(51, 51, 51);
}
 .form_x input[type="submit"]{
     text-align: center;
 }
 #errmsg{
    background-color:rgb(51, 51, 51); 
    border-radius: 10px;
    
    padding: 10px;
    border-bottom: 3px solid yellow;
    
    width: 76%;
    text-align: left;
    color: yellow;
    height: 80px;
    
} 
#submit{
    background-color: #e50914;
}
#submit:hover{
    color: black;
    background-color: yellow;
    transition: all 0.6s ease-in-out;
}
#check{
    position:absolute;
    float: left;
    margin-top: 20px;
    left: 12%;
}
#checkbox{
    margin-left: 10px;
    height: 20px;
    width: 20px;
}
#helplink{
    position: absolute;
    float: right;
    right: 10%;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.face{
    position: absolute;
    float: left;
    left: 12%;
    margin-top: 100px;
}
.face a{
    color: rgb(51, 51, 51); 
    text-decoration: none;
    margin-left: 10px;
}
.log{
    position: absolute;
    float: left;
    left: 12%; 
    margin-top: 145px; 
}
.log {
    color: white;
}
.log a{
    color: white;
}
.more{
    position: absolute;
    float: left;
    left: 12%; 
    margin-top: 175px; 
    text-align: left;
    color: white;
}
.more a{
    text-decoration: none;
}
.form_x h6{
    color: yellow;
    padding-right: 12%;
    text-align: right;
}

@media screen and (min-width:320px) and (max-width:480px) {
    #netflixlogo{
        
        left: 5%;
        top: 5%;
        width: 25%;
        height: 60px;
    }
    #errmsg{
        width:80%
    }
  .form_x  input{
        width:80% !important;
    }
    .form_x{
        margin-top: 150px;
        width: 90%;
        height: 676px;
        
    }
    .form_x h1{
        margin:70px 20px 17px;
    }
    .face{
        left: 2%;
    }
    .face a{
        margin-left: 1px;
    }
    .log{
        left: 2%; 
    }
    .more{
        left: 2%; 
        text-align: left;
    }
    #helplink{
        right: 2%;
    }
     #check{
        margin-top: 20px;
        left: 2%; 
    }
    #checkbox{
        position:absolute;
        left : 2%;
    }  
     .form_x input[type='checkbox']{
        position: absolute;
        left: 2px;
    } 
}

@media screen and (min-width:481px) and (max-width:768px) {
    #netflixlogo{
        
        left: 5%;
        top: 5%;
        width: 25%;
        height: 60px;
    }
    #errmsg{
        width:80%
    }
    .form_x{
        margin-top: 120px;
        width: 90%;
        height: 700px;
        
        
    }
    .form_x h1{
        margin:70px 20px 17px;
    }
    .face{
        left: 5%;
    }
    .face a{
        margin-left: 1px;
    }
    .log{
        left: 5%; 
    }
    .more{
        left: 5%; 
        text-align: left;
    }
    #helplink{
        right: 5%;
    }
     #check{
        margin-top: 20px;
        left: 5%; 
    }
    #checkbox{
        position:absolute;
        left : 5%;
    }  
     .form_x input[type='checkbox']{
        position: absolute;
        left: 2px;
    } 
}

@media screen and (min-width:769px) and (max-width:1024px) {
    #netflixlogo{
        
        left: 5%;
        top: 5%;
        width: 25%;
        height: 60px;
    }

    #errmsg{
        width:67%
    }
    .form_x{
        margin-top: 50px;
        width: 70%;
        height: 750px;
        
        
    }
    .form_x h1{
        margin:70px 20px 17px;
    }
    .face{
        left: 10%;
    }
    .face a{
        margin-left: 1px;
    }
    .log{
        left: 10%; 
    }
    .more{
        left: 10%; 
        text-align: left;
    }
    #helplink{
        right: 10%;
    }
    #check{
        position:absolute;
        float: left;
        margin-top: 20px;
        left: 12%;
    }
    
    #checkbox{
        margin-left: 10px;
        height: 20px;
        width: 5px;
    }
     /* #check{
        margin-top: 20px;
        left: 10%; 
    }
    #checkbox{
        position:absolute;
        left : 10%;
    }  
     input[type='checkbox']{
        position: absolute;
        left: 2px;
    }  */
}
@media screen and (min-width:1025px) and (max-width:1200px) {
    #netflixlogo{
        
        left: 5%;
        top: 5%;
        width: 20%;
        height: 60px;
    }

    #errmsg{
        width:80%
    }
    .form_x{
        margin-top: 50px;
        width: 70%;
        height: 750px;
        
        
    }
    .form_x h1{
        margin:70px 20px 17px;
    }
    .face{
        left: 10%;
    }
    .face a{
        margin-left: 1px;
    }
    .log{
        left: 10%; 
    }
    .more{
        left: 10%; 
        text-align: left;
    }
    #helplink{
        right: 10%;
    }
     #check{
        margin-top: 20px;
        left: 10%; 
    }
    #checkbox{
        position:absolute;
        left : 10%;
    }  
     .form_x input[type='checkbox']{
        position: absolute;
        left: 2px;
    } 
}
  

/* 
footer{
    font-family: Cairo-light;
    opacity: 0.5;
    width: 100%;
    margin: 900px 0px 0px 0px;
    background-color: black;
    height: 300px;
}
footer a{
    color: white;
    text-decoration: none;
    padding-top: 20px;
}
footer a:hover{
    color: white;
    text-decoration:underline;
    transition: all 0.8s ease-in-out;
}
footer .row{
    padding-top: 40px;
}
footer h5{
    padding-top: 39px;
}
@media screen and (min-width:768px) and (max-width:1023px){
    .form_x{
        height: 650px;
        top: 45%;
        left: 50%;
        bottom: 45%;
    }
    footer{
        height: 40%;
        margin-top:900px ;
    }
}
@media screen and (min-width:1024px) and (max-width:1366px){
    .form_x{
        height: 750px;
        top: 45%;
        left: 50%;
        bottom: 55%;
    }
    footer{
        position: absolute;
        top: 20%;
        height: 35%;
        
    }
    footer h5{
        text-align: right;
    }
    footer a{
        margin: 0 auto;
        margin-right: 20%;
    }
} */
