#jumtron .jumbotron{
    position:relative;
    overflow:hidden;
    background:#111;
   
}
#jumtron .jumbotron video{
    position:absolute;
    z-index:1;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;

}
#jumtron .jumbotron .container{
    z-index:5;
    position:relative;

}
.jumbotron{
    margin-bottom:-20px;
}




#popup .jumbotron{
    position:relative;
    overflow:hidden;
    background:#111;
   
}
#popup .jumbotron video{
    position:absolute;
    z-index:1;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;

}
#popup .jumbotron .co{
    z-index:5;
    position:relative;
}


/* .show-grid{
    margin:0;
    padding:0;
} */

.banner_button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
}
.banner_buttona{
     cursor: pointer;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: #e6e6e6;
    padding-bottom: 0.5rem;
}
.banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s ;
}




/* .popup_button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;

} */
.popup_buttona{
     cursor: pointer;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: #e6e6e6;
    padding-bottom: 0.5rem;
   
}
/* .popup_buttons{
    margin-bottom: 0;
} */
.popup_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s ;
}

.icoon{
   font-size:25px;
    /* padding:10px */
    margin-right:10px
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding:0;
    margin: 0;
    border-radius: 10px;
    
    
}
.watching{
   color:seagreen;
}
.watch{
    margin-top: 10px;
}
.age{
    border:1px solid white;
}
.cast,.geners,.show{
    margin-top: 10px;

}
.sp1,.sp2,.sp3{
    color:gray;
}
